*{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body{
    background-color: rgb(163, 246, 218);

}

main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.448);
}

img.lado{
    float: right
}


h1{
    font-size: 2em;
    color: rgb(48, 48, 152);
}

h2{
    font-size: 1.5em;
    color: rgb(48, 48, 152);
}
a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(136, 76, 192);
}

a:hover {
    text-decoration: underline;
    color: rgb(83, 83, 83);
}